.minter-form-container {
  width: 450px;
  height: 210px;
  background-color: rgba(194, 47, 47, 0.4);
  border-radius: 5px;
  box-shadow: 1px 1px rgb(80, 76, 76);
  display: flex;
  flex-direction: column;
}
.minter-form-price {
  margin-top: 22px;
  text-align: center;
}
.minter-form-price h4 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
.minter-form-price span {
  font-size: 14px;
  /* color: rgba(70, 66, 66, 1); */
}
.minter-form-counter {
  margin-left: 25px;
  margin-top: 15px;
  color: rgba(70, 66, 66, 1);
}
.minter-form-action {
  margin-top: 50px;
  margin-left: 5px;
}
.minter-form-action button {
  width: 400px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(169, 96, 100, 1);
  color: white;
  font-weight: 200px;
  border: none;
}
.minter-form-action button:hover {
  cursor: pointer;
  transition: all 1s;
  transform: scale(0.9);
}
