@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.slider-container {
  height: 550px;
  background-color: rgba(252, 179, 253, 0.4);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  z-index: 0;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
div#slider {
  overflow: hidden;
  padding: 40px;
}
div#slider figure img {
  width: 20%;
  height: 450px;
  float: left;
  padding: 0 10px;
}
div#slider figure img:hover {
  transform: scale(0.8);
  transition: all 1s;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
  transition: all 1s;
}
