/* .liveAction {
  background-color: black;
} */
.liveAction-container {
  /* width: 100%; */
  /* padding-right: 10px; */
  /* padding-left: 15px; */
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.liveAction-row {
  display: flex;
  flex-wrap: wrap;
}

.t1 {
  color: white;
  padding-top: 20px;
  padding-left: 78px;
  font-size: 20px;
  cursor: pointer;
}
.t2 {
  color: white;
  padding-top: 20px;
  padding-right: 78px;
  font-size: 20px;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-item-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
