@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@500&display=swap");

.home-container {
  height: 350px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .home {
  text-align: center;
}
.home .home-content {
  /* color: rgba(255, 255, 255, 0.8); */
  /* color: rgba(162, 143, 255, 0.8); */
  color: rgba(168, 201, 243, 2);
  font-size: 72px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3.75px;
}
